<div class="grid p-fluid mt-3 justify-content-center">
    <p-panel class="col-10 md:col-4" header="Inventário connect">
        <div class="container-wait flex flex-column align-content-center justify-content-center">
            <picture class="flex justify-content-center">
                <img src="assets\showcase\img\connect_logo.svg" width="180">
            </picture>

            <span class="flex justify-content-center mt-5">
                <button pButton class="p-button-warning" icon="pi pi-sign-in" label="Entrar" (click)="login()"></button>
            </span>
        </div>
    </p-panel>
</div>